# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear

# Eclipse specific files
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Maven
target/

# Gradle
.gradle/
build/

# OS specific
.DS_Store
Thumbs.db
